@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body,
.sketchpad,
.grids {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto, monospace, sans-serif;
    gap: 10px;
    background-color: #5a7d92;
    align-items: center;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #222;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.sketch-container {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    background-color: #2a2f36;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s;
    width: fit-content;
    gap: 100px;
}

.buttons {
    padding: 10px 20px;  
    font-size: 16px;    
    text-align: center; 
    cursor: pointer;    
    color: #4A90E2;     
    background-color: transparent; 
    border: 2px solid #4A90E2; 
    border-radius: 5px;  
    width: 200px;
    height: 60px;
}


.button-container {  
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 480px;
    gap: 40px;
    background-color: transparent; 
    border: 2px solid #ffffff; 
    border-radius: 5px; 
    padding: 40px;

}



.sketchpad {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0px;
    background-color: white;
}

.grids {
    background-color: white;
    opacity: 0;
}

.main-container {
    background-color: transparent; 
    border: 2px solid #ffffff; 
    border-radius: 5px; 
    padding: 15px;
    margin: 15px;
}